@font-face {
  font-family: 'Nordic Light';
  src: url(./fonts/NORDIC_LIGHT.ttf) format('truetype'); 
}

body {
    margin: 0;
    background: radial-gradient(circle at center, #1a1a1a, #000);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    touch-action: none;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    background: transparent;
    margin-top: 70px;
}

.heading {
    font-family: 'Nordic Light', cursive;
    color: grey;
    font-size: 3rem;
    margin-bottom: 24px;
    letter-spacing: 0.2em;
    width: 100%;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);    
    text-align: center;
    z-index: 2;
    pointer-events: none;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #222;
    border: 3px solid #00ff99;
    border-radius: 16px;
    padding: 40px 32px;
    color: #fff;
    font-family: 'Nordic Light', 'Press Start 2P', cursive;
    font-size: 2rem;
    text-align: center;
    z-index: 10;
    box-shadow: 0 0 32px #00ff99;
}

.popup button {
    margin-top: 24px;
    font-size: 1.2rem;
    padding: 10px 32px;
    border-radius: 8px;
    border: none;
    background: #00ff99;
    color: #222;
    font-family: inherit;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
}

.popup button:hover {
    background: #00cc77;
}

.hidden {
    display: none;
}

#start-popup {
    z-index: 20;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
}
#start-popup ul {
    font-size: 1.2rem;
    text-align: left;
    font-family: "Orbitron", sans-serif;
}

#joystick-zone {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 40vh;
  touch-action: none;
  background: transparent;
}

@media (max-width: 768px) {
  #joystick-zone {
    height: 50vh;
  }

  #start-popup {
    width: 80vw;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
  }

  #start-popup ul {
    font-size: 1.2rem;
  }

  .popup {
    width: 50vw;
    font-size: 1.5rem;
    padding: 20px;
  }

  .heading {
    font-size: 2.5rem;
  }
}

