@font-face {
  font-family: 'Nordic Light';
  src: url(./fonts/NORDIC_LIGHT.ttf) format('truetype'); 
}

body {
    margin: 0;
    background: radial-gradient(circle at center, #1a1a1a, #000);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    background: transparent;
    margin-top: 50px;
}

.heading {
    font-family: 'Nordic Light', cursive;
    color: grey;
    font-size: 3rem;
    margin-bottom: 24px;
    letter-spacing: 0.2em;
    width: 100%;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);    
    text-align: center;
    z-index: 2;
    pointer-events: none;
}